/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* -------------------------------------------------------------- 
  
   Styles
   
-------------------------------------------------------------- */

body, html{
	overflow:hidden;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
}

.container{
	width:100vw;
	height:100vh;

	overflow:hidden;

	/*background: black url('./assets/background_space_loop.jpg') repeat 0 0;
	background-size: 100% 100%;
*/
	display: flex;
	justify-content: center;
	align-items: center;

    /*-webkit-animation: slide 140s linear infinite;*/

    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

    position:relative;
}

.sliding-background {
  background: url("./assets/background_space_loop.jpg") repeat-x;
  height: 100vh;
  width: 8000px;
  animation: slide 120s linear infinite;
  position:absolute;
  top:0;
  left:0;
  background-size: 2000px;
  z-index: 20;
}

/*@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 100vw 0; }
}*/

@keyframes slide{
  0%{
    transform: translate3d(-4000px, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

.bf_logo{
	width:35%;
	height:60%;

	background-image: url('./assets/bf_logo_white.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

	z-index: 40;
}

.footer{
	width:100vw;
	height:15vh;
	position:absolute;
	bottom:0;
	left:0;

	background: url('./assets/footer_background.png');
	background-size: 100% 100%;
	z-index: 30;
}

.footer span{
	width:94vw;
	margin:4vh 3vh;
	font-size: 3vh;
	text-align: right;
	color:#000;
	display: block;
	bottom:0;
	position:absolute;
	z-index: 40;
}